/build/
/dist/

src/java/oauth.properties
src/java/mail.properties
src/java/mail.properties
inspect-jar.ps1
db/migrations/01_repermission.sql
db/migrations/02_department_permissions.sql
db/migrations/03_contract_permissions.sql
db/migrations/04_hr_employee_permissions.sql
/attendance-templates
/db
